<form>
  <h3>New Photo</h3>
  <label>Title:
  <input class="photo_form" name="photo[title]" type="text">
  </label> <br>
  <label>URL:
  <input class="photo_form" name="photo[url]" type="text">
  </label><br>
  <button>Submit</button>
</form>

